
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0rem;
    
}

ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;  /* Retira os pontos ao lado da lista */
}

.container-one {
    display: flex;
    color: black;
    padding: 0.625rem;
  }

.icon-menu {
    margin-right: 25%;
    cursor: pointer;
  }

.icon-menu img {
    width: 8.125rem;
    height: 8.125rem;
  }

.lista-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;      
    flex-wrap: wrap;

  }
  
.lista-menu li {
  display: flex;  
  margin: 0 1.25rem;

  }
  
.lista-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    font-family: 'Permanent Marker';
    font-style: normal;
    font-size: 1.5625rem;
    outline: 300px;
  }
  
.lista-menu a:hover {
    color: #ff9900;
    font-size: 30px;
    transition: 0.3s;
  }

.text {
    text-align: center;
    color: rgba(255, 255, 255, 0.863);
}

.container-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sub-container {
    width: 30%;
    margin-left: 12.5rem;
    margin-top: 8.75rem;
    margin-right: 6.25rem;
}

.container-two h1 {
    font-size: 3.75rem;
    font-family: 'Permanent Marker';
}

.container-two p {
    font-size: 1.375rem;
    font-family: 'Permanent Marker';
}


.container-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.container-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top; 
}

audio {
  display: none;
}

.container-nav {
  margin-top: 60px;
}

.container-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 254px;
  width: 190px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  overflow: hidden;
}

.card-image {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
}


.card-description {
  display: flex;
  position: absolute;
  gap: .5em;
  flex-direction: column;
  background-color: #f5f5f5f3;
  color: #212121;
  height: 60%;
  bottom: 0;
  border-radius: 16px;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem;
}

.text-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.text-body {
  font-size: 1rem;
  line-height: 130%;
}

.card:hover .card-description {
  transform: translateY(100%);
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.kart {
  margin-top: 80px;
}















